*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dec8e7b0;
    font-family: cursive;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.pokemon-item, .search-item{
    background-color: #a3e4a1a0;
    border: 1px solid gray;
    border-radius: 5px;
}
button{
    font: 15px serif;
}
/*--------------Список покемонов-------*/
.pokemon-list-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 80%;
    margin: 15px 10px 0 10px;
    padding: 15px 10px 10px 10px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: #d9c0e3;
    box-shadow: 0 0 10px 1px #0000009e;
}
.pokemon-list-title{
    font-size: 18px;
    margin: 5px auto 5px auto;
}
.pokemon-list{
    display: flex;
    flex-direction: column;
}
.pokemon-item{
    width: 130px;
    margin: 2.5px 0 2.5px 0;
}
.pagination-wrap , .pagination-wrap-type{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 10px;
}
.next, .prev{
    width: 55px;
    padding: 2px;
    background-color: #dba1f2;
    border: 1px solid gray;
    border-radius: 5px;
}
/*-------------Инфо покемонов--------------------*/
.pokemon-info-wrap{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50%;
    margin: 15px 10px 0 10px;
    padding: 15px 10px 10px 10px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: #d9c0e3;
    box-shadow: 0 0 10px 1px #0000009e;
}
.pokemon-title-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.title{
    margin: 5px auto 5px auto;

}
.pokemon-img{
    width: 20%;
    height: 285%;
    margin-right: 60px;
}
.pokemon-title{
    margin-left: 60px;
}
.select-pokemon{
    display: flex;
    width: 300px;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
}
/*Списки*/
.search-wrap{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 8px;
    margin: 15px 10px 0 20px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: #d9c0e3;
    box-shadow: 0 0 10px 1px #0000009e;
}
/*Список регионов*/
.region-wrap{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}
.region-list-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pagination-region-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

/*Список типов*/
.type-list-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
}

.search-item{
margin-bottom: 4px;
}
/*Избранный*/
.active{
    background-color: #dba1f2;
}
.pokemon-list-favorites-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 80%;
    margin: 15px 20px 0 10px;
    padding: 15px 10px 10px 10px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: #d9c0e3;
    box-shadow: 0 0 10px 1px #0000009e;
}
.pokemon-list-favorites{
    display: flex;
    flex-direction: column;
}
/*Кнопки эволюции и выбора*/
.pokemon-evo-btn, .favorite-btn{
    width: 75%;
    margin: 5px 0px ;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #a3e4a1a0;
}
